/**
 * Dracula Theme originally by Zeno Rocha [@zenorocha]
 * https://draculatheme.com/
 *
 * Ported for PrismJS by Albert Vallverdu [@byverdu]
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #f8f8f2;
    background: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
}


:not(pre)>code[class*="language-"],
pre[class*="language-"],
div .pre-with-code {
    background: #282a36 !important;
    color: white;
}


/* Inline code */
:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #6272a4;
}

.token.punctuation {
    color: #f8f8f2;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #ff79c6;
}

.token.boolean,
.token.number {
    color: #bd93f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #50fa7b;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
    color: #f1fa8c;
}

.token.keyword {
    color: #8be9fd;
}

.token.regex,
.token.important {
    color: #ffb86c;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}


.code-highlight {
    float: left;
    min-width: 100%;
}

.code-line {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -16px;
    margin-right: -16px;
    border-left: 4px solid rgba(0, 0, 0, 0);
}

.highlight-line {
    margin-left: -16px;
    margin-right: -16px;
    background-color: rgba(55, 65, 81, 0.5);
    border-left: 4px solid rgb(59, 130, 246);
}

.line-number::before {
    display: inline-block;
    width: 1rem;
    text-align: right;
    margin-right: 16px;
    margin-left: -8px;
    color: rgb(156, 163, 175);
    content: attr(line);
}

.remark-code-container {
    width: 100%;
    max-width: 65vw;
    box-shadow: var(--w-box-shadow);
    border-radius: 0.3em;
    background: #282a36;
    position: relative;
}
@media (max-width: 999px) {
    .remark-code-container {
        max-width: 80vw;
    }
}

.markdown-body main table {
    max-width: calc(65vw - 10px);
}
.markdown-body main p img {
    max-width: calc(65vw - 10px);
}
@media (max-width: 999px) {
    .markdown-body main p img {
        max-width: calc(80vw - 10px);
    }
}
@media (max-width: 999px) {
    .markdown-body main table {
        max-width: calc(80vw - 10px);
    }
}

.remark-code-container .remark-code-title {
    margin-left: 2rem;
    margin-top: 0.5rem;
    border-radius: 0 0 0.3em 0.3em;
    background: #fafafa;
    padding: 0.5rem 1rem;
    width: fit-content;
    font-size: 1rem;
    font-weight: bolder;
}